@*<div class="font-semibold font-title">
        This is our second tab
    </div>
    <p>
        Welcome to Microsoft Teams Hello World sample app (C#)
    </p>*@

<div class="font-semibold font-title">Configure your app here</div>
<p>
    <div>
        <button onclick="submit();">Submit</button>
    </div>
</p>

<script type="text/javascript">
    microsoftTeams.initialize();
    function submit() {
        var customerInfo = {
            name: "myname",
            email: "myvalue",
            favoriteBook: "mybook"
        }
        microsoftTeams.tasks.submitTask(customerInfo, "@Microsoft.Teams.Samples.TaskModule.Web.Helper.ApplicationSettings.MicrosoftAppId" );
    }

</script>